body{
    background-color: #879cb1;
}


*{
    margin: 0;
    padding: 0;
    top: 0;
}
header{
    
    width: 100%;
    background-color: #20202d;
    overflow: hidden;
    height: 90px;
}
#active{
    background-color: #32323d;
}
#menu {
    
    padding-top: 5px;
    height: 81px;
    margin: auto;
}
#menu ul {
    list-style-type: none;
    
    overflow: hidden;
}
#menu ul li {
    float: right;
  }
#menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 18px;
}
#menu ul li a:hover {
    background-color: #59cbe8;
}

#logo{
    padding-top: 10px;
    float: left;
}    

#logo img{
    width: 170px;
    height: 70px;
}
main{
    background-color: white;
    width: 70%;
    margin: auto;
    padding: 0;
    height: auto;
    text-align: center; 
}
h1{
    text-shadow: 2px 2px #59cbe8;;
    width: 70%;
    color: #20202d;
    
    text-decoration: underline;
    margin-top: 20px;
}


main p{
    text-size-adjust: 40;
    color: #20202d;
     
    font-size: x-large;
}
#fotos{
    margin-left: 7%;
}
#fotos th{
    
    
    padding: 20px;
}
footer{
    height: 90px;
    margin-top: 40px;
    border: solid 2px;
    border-color: #20202d;
    background-color: #20202d;
    padding: 15px;
    color: white;
}
#UbiPie{
    float: left;
    margin-right: 20%;
    border-right: solid 4px #59cbe8;
    padding-right: 15px;
    
}
#ContPie{
   float: right;
   border-left: solid 4px #59cbe8;
   padding-left: 15px;
}
#LinksPie{
    float: left;
    width: 25%;
    height: 70px;
}

#LinksPie a img{
    width: 45px;
    height: 45px;
    padding-left: 25px;
    padding-top: 5px;
}
