body{
    background-color: #858585;
}
#logo{
    float: left;
    margin-left: 35%;
}

*{
    margin: 0;
    padding: 0;
    top: 0;
}
header{
    width: 100%;
    background-color: #20202d;
    
}
#menu {
    
    height: 81px;
    margin: auto;
}
#menu ul {
    list-style-type: none;
    
    overflow: hidden;
}
#menu ul li {
    justify-content: center;
    float: left;
  }
#menu ul li a {
    display: block;
    color: white;
    align-items: center;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 18px;
}
#menu ul li a:hover {
    background-color: #59cbe8;
}
#logo img{
    width: 81px;
    height: 80px;
}
article{
    background-color: white;
    width: 50%;
}
h1{
    width: 50%;
    color: #20202d;
    text-align: center;
    text-decoration: underline;
    padding: 0;
    margin: 0;
    border: solid 2px black;
    align-self: center;

}
b{
    color: #59cbe8;
}
footer{
    height: 130px;
    margin-top: 400px;
    border: solid 2px;
    border-color: #20202d;
    background-color: #20202d;
    padding: 15px;
    color: white;
}
#UbiPie{
    float: left;
    margin-right: 300px;
    border-right: solid 4px #59cbe8;
    padding-right: 15px;
}
#ContPie{
   float: right;
   border-left: solid 4px #59cbe8;
   padding-left: 15px;
}
#LinksPie a{
    float: left;
    
    padding-left: 70px;
    margin-top: 15px;
}
#LinksPie a img{
    width: 45px;
    height: 45px;
}
article {
    margin: auto;
    padding: 0;
}